<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add user</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container">
    <h2>Add user</h2>

    <form id="adduser" action="/adduser" method="post" onsubmit="event.preventDefault(); validateMyForm();">
      
      <label class="control-label" for="email">Email:</label>
      <div class="col-6">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>

      <div class="form-group">
        <label class="control-label" for="email">User name:</label>
        <div class="col-6">
          <input type="text" class="form-control" id="username" placeholder="User name" name="username">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="password">Password:</label>
        <div>          
          <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="pwd">Confirm Password:</label>
        <div>          
          <input type="password" class="form-control" id="password_conf" placeholder="Confirm password" name="passwordConf">
        </div>
      </div>

      <div class="form-group">        
        <div class="">
          <input type="submit" value="Add" class="btn btn-primary">
        </div>
      </div>
    </form>

  </div>

  <script type="text/javascript">
    var passWordField = document.getElementById('password')
    var passWordConfirmField = document.getElementById('password_conf')
    var form = document.getElementById('adduser')
    function validateMyForm(){
      if(passWordField.value != passWordConfirmField.value){ 
        alert("Passwords do not match. Please try again.");
      } else {
        form.submit()
      }
    }
  </script>

</body>
</html>
