<!DOCTYPE html>
<html>
<!-- head -->
<head>
  <title>Smart pump</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/ico" href="/images/logo.png" />
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <script src="/js/zingchart.min.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>

<!-- body  -->
<body>

  <!-- Left pannel -->
  
  <!-- <div class="test2"></div> -->
  <header class="navbar navbar-expand bg-dark d-flex flex-row">
    <div class="w-50">
      <a class="m-2" href="/">Home</a>
      <a class="m-2" href="/adduser">Insert User</a>
      <a class="m-2" href="/list">List User</a>
    </div>
    <div class="w-50 d-flex justify-content-end">
      <div>
        <a class="m-2 mr-0" class="align-items-end" href="/logout" title="logout"> Logout <i class="fas fa-sign-out-alt"></i></a>
      </div>
    </div>

  </header>

  <div class="mt-2 d-flex flex-row">
    <ul class="nav navbar-toggler-left d-block" role="navigation">
      <li class="nav-item active">
        <a href="#chart1" class="nav-link active" data-toggle="tab" role="tab" aria-controls="Humidity">Humidity</a>
      </li>
      <li class="nav-item">
        <a href="#chart2" class="nav-link" data-toggle="tab" role="tab" aria-controls="Temperature">Temperature</a>
      </li>
      <li class="nav-item">
        <a href="#data" class="nav-link" data-toggle="tab" role="tab" aria-controls="Data">Data</a>
      </li>

    </ul>

    <div class="tab-content w-100">
      <div id="chart1" class="tab-pane fade show active border">
        <h1 id="abc" align="center">Web Page Analyzer</h1>
        <div id="date" align="center">

        </div>

        <!-- content -->
        <div class="container">
          <div id="myChart"></div>

          <div class="container d-flex justify-content-center">
            <div class="badge badge-success m-1">Độ ẩm đất</div>
            <div class="badge badge-danger m-1">Độ ẩm không khí</div>
          </div>

          
        </div>
      </div>

      <div id="chart2" class="tab-pane fade show border">
        <h1 id="abc" align="center">Web Page Analyzer</h1>
        <div id="date2" align="center">
        </div>
        <div id="myChart_lux">

        </div>
        <div class="container d-flex justify-content-center">
          <div class="badge badge-info m-1">Cường độ ánh sáng</div>
          <div class="badge badge-danger m-1">Nhiệt độ</div>
        </div>
      </div>

      <div id="data" class=" border tab-pane fade">
        <div class="container">
          <h2 align="center">Data Analyzer</h2>
          <br>

          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#day1">1 Day</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#day3">3 Days</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#week1">1 Week</a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="day1">
              
            </div>
            <div id="day3">
              
            </div>
            <div id="week1">
              
            </div>

          </div>

          <!-- Tab panes -->
        </div>
      </div>
    </div>
  </div>
  <div>

  </div>
  <script src="/js/script3.js"></script>
</body>
</html>